<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/new}" th:object="${user}">
    <input type="hidden" name="_method" value="POST">
   <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username">
    <br>
   <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <label for="role">Enter role: </label>
    <input type="text" th:field="*{roles}" id="role">
    <br>
    <input type="submit" value="Create user">
</form>

</div>
</body>
</html>