<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:each="user : ${users}">
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getId()}">user</a>
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getFirstName()}">user</a>
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getLastName()}">user</a>
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getEmail()}">user</a>
</div>
<br/>
<hr/>
<a href="/new">Create new user</a>
</body>
</html>